body {
    background-color: #f0e8e8;
    /* margin-left: 0; */
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.foto {
    border-radius: 50%;
    border: 1px solid #505050;
}

#title,
.subtitle,
.post_title {
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background-color: #fff;
    padding: 15px;
    border: 2px solid #505050;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 30px;
}

.image {
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
}

.contact_list {
    list-style-type: none;
    padding: 15px;
    margin-top: 0;
}

.contact_list li a {
    text-decoration: none;
}